.popup__content {
  max-width: 430px; /* Максимальная ширина содержимого */
  width: 100%; /* Ширина попапа */
  background-color: #fff; /* Цвет фона */
  border-radius: 10px; /* Скругление углов */
  position: relative; /* Первоначальное позиционирование */
  box-sizing: border-box; /* Включает границы в размерах */
  padding: 34px 36px; /* Внутренние отступы */
}

@media screen and (max-width: 568px) {
  .popup__content {
    width: 100%;
    max-width: calc(100% - 80px);
    margin-top: 40px;
    padding: 30px 20px;
  }
}
