@import url('./__content/popup__content.css');
@import url('./__content/_content/popup__content_content_image.css');
@import url('./__close/popup__close.css');
@import url('./__title/popup__title.css');
@import url('./__form/popup__form.css');
@import url('./__input/popup__input.css');
@import url('./__button/popup__button.css');
@import url('./__caption/popup__caption.css');
@import url('./__image/popup__image.css');
@import url('_is-opened/popup_is-opened.css');
@import url('_is-animated/popup_is-animated.css');
@import url("./__error/popup__error.css");

.popup {
  font-family: 'Inter', Arial, sans-serif;
  visibility: hidden; /* Изменено с display: none; на visibility: hidden; */
  opacity: 0; /* Добавлено для первоначальной прозрачности */
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  position: fixed; /* Позволяет располагать попап относительно окна */
  top: 0; /* Начальную позицию верхней грани */
  left: 0; /* Начальную позицию левой грани */
  bottom: 0; /* Расшиыт верхнюю границу */
  right: 0; /* Расшиыт нижнюю границу */
  z-index: 10;
  transition: visibility 0s, opacity 0.6s; /* Добавлено для анимации */
  display: flex; /* Добавлено для флекс контейнера */
}